<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mt-4">Modifica ricetta</h3>
                <form action="/modificaricetta" method="POST">
                    <div> 
                        <input type="hidden" name="idObj" id="idObj" value="<%= mostraRicetta._id %>">
                    </div>
                    <div>
                        <label for="titolo">nome della ricetta</label>
                        <input type="text" name="titolo" id="titolo" value="<%= mostraRicetta.title %>" required>
                    </div>
                    <div>
                        <label for="procedimento">descrizione procedimento</label>
                        <textarea name="howto" id="procedimento" cols="30" rows="10"><%= mostraRicetta.procedimento %></textarea>
                    </div>
                    <div>
                        <label for="ingredienti">ingredienti</label>
                        <textarea name="ingredienti" id="ingredienti" cols="30" rows="10"><%= mostraRicetta.ingredienti %></textarea>
                    </div> 
                    <div>
                        <label for="file-url">File selezionato: <%= mostraRicetta.immagine %></label>
                        <input type="text" name="urlimg" id="file-url" placeholder="<%= mostraRicetta.immagine %>">
                    </div>
                    <button type="submit" class="btn btn-outline-success">modifica ricetta</button>
                    <button type="button" onclick="window.location.href='/'" class="btn btn-outline-danger">annulla</button>
                </form>
            </div>
        </div> 
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>