<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main> 
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-recipe">
                                <div class="offset-lg-3 col-lg-6 mt-4">
                                    <div class="card mt-3 shadow border-0">
                                        <% if(ricerca.immagine) { %>
                                            <img src="<%= ricerca.immagine %>" class="card-img-top" id="topFoto">
                                            <label for="topFoto" class="topfoto">Credits: <%= ricerca.immagine %>
                                                    </label>
                                            <% } %>
                                                <div class="card-body d-flex flex-column justify-content-between pt-0">
                                                    <div class="pt-4">
                                                        <h5 class="card-title mb-3">
                                                            <%= ricerca.title %>
                                                        </h5>
                                                        <p class="card-text mb-0 pb-1"><strong>Ingredienti</strong><br>
                                                            <%= ricerca.ingredienti %>
                                                        </p>
                                                        <p class="card-text mb-0 pb-1"><strong>Procedimento</strong><br>
                                                            <%= ricerca.procedimento %>
                                                        </p>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-end p-3">
                                                        <p class="card-text mb-0 read-more"><a href="/">Torna indietro</a> </p>
                                                        <div class="special-buttons">
                                                            <a class="btn rounded-circle bg-success shadow me-2"
                                                                href="/modifica/<%= ricerca.title %>">
                                                                <i class="bi bi-pen"
                                                                    style="font-size: 1.6rem; color: rgb(255, 255, 255);"></i>
                                                            </a>
                                                            <a class="btn rounded-circle bg-danger shadow"
                                                                href="/elimina/<%= ricerca.title %>">
                                                                <i class="bi bi-trash3"
                                                                    style="font-size: 1.6rem; color: rgb(255, 255, 255);"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>